{% extends 'user/base.html' %} {% block content %}
<div class="heading-container">
    <h1 id="profile-heading">Practice Scrims</h1>
</div>

<div class="profile-container">
    <div class="form-299">
        <p>GET SUPER+ PLAN</p>
        <p id="small-txt">Play Custom Everyday- 4 Match A Day, 120 Match Per Month, 1 Tournament End of Month With Prizes</p>
        <div style="text-align: center; padding: 0 20%;">
            <h2 style="color: red;">All Slots are Full right now</h2>
            <span style="color: grey">But still you can join, just join discord server and inform any admin that you are instrested if any team found using unfair means, they will be kicked and you will get your slot</span><br>
            <span style="color: green">OR</span><br>
            <span style="color: grey">Try on First of Next Month and grap your slot</span>
            <br>
        </div>
    </div>
</div>

{% endblock content %}