{% extends 'user/base.html' %} {% block content %}

<div class="heading-container">
    <h1 id="profile-heading">Practice Scrims</h1>
</div>


<div class="profile-container">
    <div class="form-299">
        <p>GET SUPER+ PLAN</p>
        <p id="small-txt">Play Custom Everyday- 4 Match A Day, 120 Match Per Month, 1 Tournament End of Month With Prizes</p>
        <div id="mainareanofplus" style="text-align: center; padding: 0 20%;">
            <h2 style="color: green;">You are already registerd. Enjoy!!</h2>
            <span style="color: grey">You will receive Room ID and Password 15min before Match, Make sure to join before match timing and do not share credentials with anyone.</span>
            <br>
            <br>
            <table style="width: 100%; margin: auto; border: 1px solid blueviolet;" border="0">
                <tr style="margin: 20px;">
                    <th>SNo:</th>
                    <th>Group</th>
                    <th>Match Time</th>
                </tr>
                <tr></tr>
                <tr>
                    <td>1</td>
                    <td>E1</td>
                    <td>First Match : 7:00 PM <br> Second Match : 8:00 PM <br> Third Match : 9:00 PM <br> Forth Match : 10:00 PM <br>
                    </td>

                </tr>
                <tr></tr>
                <tr style="margin: 20px;">
                    <td>2</td>
                    <td>E2</td>
                    <td>First Match : 7:15 PM <br> Second Match : 8:15 PM <br> Third Match : 9:15 PM <br> Forth Match : 10:15 PM <br>
                    </td>

                </tr>
                <tr></tr>
                <tr style="margin: 20px;">
                    <td>3</td>
                    <td>E3</td>
                    <td>First Match : 7:30 PM <br> Second Match : 8:30 PM <br> Third Match : 9:30 PM <br> Forth Match : 10:30 PM <br>
                    </td>

                </tr>
                <tr></tr>
                <tr>
                    <td>4</td>
                    <td>E4</td>
                    <td>First Match : 7:45 PM <br> Second Match : 8:45 PM <br> Third Match : 9:45 PM <br> Forth Match : 10:45 PM <br>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock content %}